<ul class="list-unstyled primary-list" ng-if="movies">
	<li class="row primary-list-item page-lead view-animate-container view-animate" style="margin-bottom: 20px;" ng-repeat="movie in movies">
        <div class="header">
            <span class="ratings level_{{movie.rating}}">
                Rating: <span>{{movie.rating}}/10</span>
            </span>
            <p class="released-on">Year: <span class="datestamp">{{movie.year}}</span></p>
            <a ng-if="movie.poster_url" href="{{movie.id}}">Poster</a>
        </div>
		<div class="col-xs-12 col-sm-9 content">					
			<h4 class="post-title list-item-hd">
				<strong>{{movie.title}}</strong>
			</h4>
			<p class="content">{{movie.short_description}}</p>
			<p class="genere">
				<span ng-repeat="genere in movie.moxie_genere">{{genere}}</span>			
			</p>
		</div>

	</li>
</ul>
<h1 class="text-center no-movies" ng-show="noMovies">No Movies Available!</h1>